<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container container-header">
    <div class="logo">
      SHOPPERS 
      </div>
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav text-light">
          <a class="nav-link text-light" href="/helper">Как заказать</a>
          <a class="nav-link text-light" href="/">Конструктор</a>
          <a class="nav-link text-light" href="/conditions">Условия</a>
          <a class="nav-link text-light" href="/contacts">Контакты</a>
        </div>
      </div>
    </div>
  </div>
</nav>
