<div class="helper">
  <h2>Наши контакты</h2>
  <ul>
    <li>Телефон: 8 999 999 9999</li>
    <li>Адрес: г.Москва, 2-ой Поздниковский переулок, 17/23</li>
    <li>WhatsApp: 8 999 834 9090</li>
  </ul>
</div>
