<div class="helper">
  <h2>FAQ</h2>
  <ul>
    <li>Зайдите в раздел Конструктор</li>
    <li>Выберите модель, а также цвет, материал и размер</li>
    <li>Укажите пожелания по тиражу</li>
    <li>Заполните форму с контактными данными и нажмите 'Заказать'</li>
  </ul>
</div>
