@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: #1d1b26;
  font-family: "Comfortaa", cursive;
  color: rgb(206, 206, 206);
}
#addTxt {
  text-align: center;
  text-decoration: none;
  color: white;
  background: #1d1b26;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  margin: 10px 10px;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#addTxt::placeholder {
  color: white;
}

.addText {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  margin-bottom: 60px;
}

.navbar {
  background: linear-gradient(180deg, #1d1b26, #1d1b26, #1d1b26, #1d1b26);
  border-bottom: solid 2px;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
}
.nav-link {
  font-size: 20px;
  margin-left: 10px;
  color: white;
}
.col-5 {
  padding-top: 50px;
}

.hiden {
  display: none;
}

.mainImg img {
  display: block;
  width: 100%;
  border: solid 2px;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  /* box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7); */
}

.col-4.wrapper-current-img .current-img {
  width: 100%;
}

select {
  width: 100px;
  margin-bottom: 15px;
}
.col-4 {
  padding-top: 50px;
}
.container-header {
  display: flex;
  justify-content: space-between;
}
.wrapper-images {
  display: flex;
  margin: 0 -20px;
  margin-bottom: 15px;
}
.total {
  margin: 15px 0 0;
  display: flex;
  width: 250px;
}
.image {
  width: 33.3333333%;
  padding: 0 20px;
  transition: 0.3s;
}
.image:hover {
  opacity: 50%;
  cursor: pointer;
}
.image img {
  display: block;
  width: 100%;
  height: 100px;
  transition: 0.3s;
  /* box-shadow: 0 0 3px; */
  border-radius: 5px;
  box-shadow: 0 0 0 2px #d5008396;
}

.title {
  margin-bottom: 15px;
}

/* upload */
.form-params-upload {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
}

.form-input-params:not(:last-of-type) {
  margin-bottom: 10px;
}

.title-upload {
  font-size: 25px;
}

.block-dowmload-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
}

.wrapper-img-domnload {
  height: 250px;
}

.image-download {
  object-fit: cover;
  height: 100%;
}

/* upload */
.mainImg {
  position: relative;
  width: 360px;
  height: 405px;
}

.mainImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.forUploading {
  position: absolute;
  top: 40%;
  left: 49%;
  transform: translate(-50%);
  /* background-color: red; */
  width: 170px;
  height: 200px;
  overflow: hidden;
}

#container {
  /* display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; */
  width: 170px;
  height: 200px;
  overflow: hidden;
}
.imgMaterial {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.materials {
  display: flex;
}
.materials span {
  font-size: 14px;
  line-height: 1.5;
}

.wrapper-choice-fabric {
  display: flex;
  align-items: center;
  position: relative;
  width: 30px;
  transition: 0.2s;
  border-radius: 100%;
}

.wrapper-choice-fabric:hover {
  box-shadow: 0 0 5px;
}

.choice-fabric-radio {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.title {
  font-size: 20px;
}

.totalPrice {
  font-size: 30px;
  font-weight: bold;
}

/* BUTTONS STYLE */
.sliding-button {
  text-align: center;
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  margin: 10px 10px;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sliding-button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.sliding-button:hover {
  background: rgba(255, 255, 255, 0);
}
.sliding-button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.gradient-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #ff3000 0%,
    #d50082 51%,
    #ff3000 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.gradient-button:hover {
  background-position: right center;
}

.glow-button {
  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  margin: 10px 0px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #ff096c inset, 0 0 0 0 #ff096c;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: 0.15s ease-in-out;
}
.glow-button:hover {
  box-shadow: 0 0 10px 0 #ff096c inset, 0 0 10px 4px #ff096c;
  color: #ff096c;
}
